// Base Colors
$shade-10:#4FA4DD !default;
$shade-1:#d7dcdf !default;
$shade-0:#fff !default;
$teal: #2FD1AF !default;
$cdn: "//dn3nmb5yt1ysw.cloudfront.net";

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
}

@include keyframes(slide-down) {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@include keyframes(popin) {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  85% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

#ouibounce-modal {
  // display: none;
}

.modal-underlay, .modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.modal-underlay {
  z-index: 99;
  @include animation('fadeIn .5s');
  &.blue {
    background-color: $tertiary-blue;
    @include opacity(.925);
  }
}

.modal-wrapper {
  font-family: $adobe-font;
  -webkit-font-smoothing: antialiased;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include animation('popin .3s');
}

.modal-cta {
  font-size: 1.75em;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0px auto;
  &.hand { max-width: 95%; }
  > div { min-width: 0; }
  @include breakpoint(450) { font-size: 2em; }
  @include breakpoint(780) { font-size: 2.75em; }

  .hand-svg {
    background-image: url('/images/money-hand-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 105% 20px;
    width: 100px;
    height: 100px;
    @include breakpoint(780) {
      width: 150px;
      height: 150px;
    }
  }
  .modal-cta-text span {
    line-height: 2em;
    font-size: 1.25em;
    font-weight: 500;
    // padding-bottom: .25em;
    // padding-right: 75px;
    // padding-top: 50px;
  }
  .responsive-img {
    padding-right: .75em;
    img {
      vertical-align: bottom;
      height: 85px;
      max-width: 100%;
      @include breakpoint(780) { height: 115px; }
    }
  }
}

.card-wrap {
  align-content: center;
  align-self: center;
  justify-content: center;
  margin-bottom: auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: -125px;
}

.card {
  background: #fff;
  border-radius: 2px;
  max-width: 650px;
  text-align: center;
  padding: 1em .5em;
  font-size: 1em;
  @include box-shadow(5px, 5px, 2px, rgba(#444, .25));
  @include breakpoint(780) { padding: 3em; }
  p {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25em;
    line-height: 1.5;
    color: $grey-dark;
    @include breakpoint(780) {
      font-size: 1.5em;
    }
    &.emphasis {
      color: $primary-green;
      font-weight: 800;
      margin-top: .25em;
      margin-bottom: .5em;
    }
  }
}

.modal-buttons {
  display: flex;
  flex: 1;
  margin: .5em auto 0em;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  @include breakpoint(780) {
    flex-flow: row;
    max-width: 75%;
  }
  a {
    background-color: $primary-green;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    flex: 1 1 0px; 
    text-align: center;
    cursor: pointer;
    line-height: 60px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.5em;
    @include transition(background-color .3s ease, box-shadow .3s ease);
    &:hover, &:active {
      background-color: $accent-green;
      @include box-shadow(3px, 3px, 3px, rgba(#444, .25));
    }
  }
}

.modal-close {
  text-align: right;
  padding-top: 1em;
  margin-bottom: auto;
  padding-right: 1em;
  width: 100%;
  align-self: flex-start;

  i {
    color: #fff;
    cursor: pointer;
    font-size: 36px;
    @include opacity(.5);
    @include transition(all .3s ease);
    &:hover { @include opacity(1); }
  }
}
