
section.hero {
  text-align: center;
  h1{
  color: #fff;
  font-family: 'Roboto';
  }
}

p.control {
  text-align: center;
}

// Base Colors
$shade-10: #4FA4DD !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #2FD1AF !default;

.hero {
  background-image: url('/images/hero_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
