header {
  background-color: #fff;
  -moz-box-shadow: 0 4px 5px -2px #bebebe;
  -webkit-box-shadow: 0 4px 5px -2px #bebebe;
  box-shadow: 0 4px 5px -2px #bebebe;
  padding: 10px 0px;
  margin-bottom: 3px;

  .header-constraint {
    max-width: 960px;
    margin: 0px auto;
    display: block;
    padding: 0px 2%;
    position: relative;
    z-index: 1;
  }
  @include cf();

  .logo {
    height: 220px;
    overflow: hidden;
    text-indent: -5000px;
    background-image: url(https://dn3nmb5yt1ysw.cloudfront.net/images/logos/getmyinsurance-logo-seal-s.png);
    background-position: -10px -30px;
    background-repeat: no-repeat;
    height: 60px;
    margin: auto;
    width: 220px;

    @include breakpoint(600) {
      float: left;
    }
  }
  .cta {
    display: none;

    @include breakpoint(600) {
      display: block;
      float: right;
    }
  }
}