@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400);

section {
  display: block;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

strong {
  font-weight: 700;
}

p {
  margin: 1em 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html,
button,
input,
select {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

@media print {
  @page {
    margin: .5cm;
  }

  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body,
html {
  height: 100vh;
  margin-bottom: 6px;
  color: rgba(102, 102, 102, 0.666);
  font-size: 14px;
  line-height: 17.5px;
}

body *,
html * {
  font-family: Lato,sans-serif;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body a,
html a {
  color: #20e4a7;
  font-weight: 800;
  transition: all 0.25s, transform 0.25s;
  outline: 0;
  text-decoration: none;
}

body a:hover,
html a:hover {
  text-decoration: underline;
  outline: 0;
}

body a:focus,
body a:active,
body a:visited,
html a:focus,
html a:active,
html a:visited {
  outline: 0;
}

body img,
html img {
  max-width: 100%;
  margin: auto;
}

body h2:after,
html h2:after {
  content: " ";
  height: 1px;
  width: 10%;
  display: block;
  margin: 10px auto;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(79, 149, 157, 0.7) 50%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
}

@media (min-width: 650px) {
  body h2,
  html h2 {
    font-size: 2em;
  }
}

body h3,
html h3 {
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 auto 0.8em;
  font-weight: 700;
}

body p,
html p {
  line-height: 1.5em;
  font-size: 1em;
  font-weight: 400;
}

body p,
html p {
  margin: .5em 0;
}

body input[type=text],
body input[type=email],
body input[type=tel],
body select,
html input[type=text],
html input[type=email],
html input[type=tel],
html select {
  width: 100%;
  line-height: 1.5em;
  padding: 0 0 0 0.5em;
  margin: .3em 0;
  font-weight: 300;
  margin: 0;
  background: 0;
  color: rgba(0, 0, 0, 0.666);
  outline: 0;
  border: 1px solid #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  transition: all 0.25s;
  transition-timing-function: ease;
  -moz-border-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

body select,
html select {
  position: relative;
  opacity: 1;
  cursor: pointer;
}

body select:disabled,
html select:disabled {
  opacity: 0;
}

body .select,
html .select {
  position: relative;
  -moz-border-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background: #fff;
}

body .select select,
html .select select {
  z-index: 5;
}

body button,
html button {
  color: #fff;
}

body button:focus,
body button:active,
body button:visited,
html button:focus,
html button:active,
html button:visited {
  outline: 0;
}

body input[type=range],
html input[type=range] {
  width: 100%;
}

body input[type=radio],
html input[type=radio] {
  color: rgba(0, 0, 0, 0.666);
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

body label.buttonToggle,
html label.buttonToggle {
  cursor: pointer;
  border: 2px solid #fff;
}

body label.buttonToggle input,
html label.buttonToggle input {
  display: none;
}

body label.buttonToggle span,
html label.buttonToggle span {
  background: #ebebeb;
  transition: all 0.3s;
  color: #0180bb;
  text-align: center;
  width: 100%;
  display: block;
  padding: 1.5rem 0 0;
  height: 4.57rem;
}

body label.buttonToggle span:hover,
html label.buttonToggle span:hover {
  background: #24b9fe;
  color: #fff;
}

body label.buttonToggle input:checked + span,
html label.buttonToggle input:checked + span {
  background: #0180bb;
  color: #fff;
}

@media (min-width: 650px) {
  body label.buttonToggle:first-child,
  html label.buttonToggle:first-child {
    -webkit-border-top-left-radius: 100px;
    -webkit-border-bottom-left-radius: 100px;
    -moz-border-radius-topleft: 100px;
    -moz-border-radius-bottomleft: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  body label.buttonToggle:last-child,
  html label.buttonToggle:last-child {
    -webkit-border-top-right-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-radius-topright: 100px;
    -moz-border-radius-bottomright: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
}

body label.radioImages,
html label.radioImages {
  position: relative;
  width: 155px;
  min-height: 128px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
}

@media (min-width: 650px) {
  body label.radioImages,
  html label.radioImages {
    font-size: 16px;
    width: 320px;
  }
}

body label.radioImages input,
html label.radioImages input {
  display: none;
}

body label.radioImages input + .overlay,
html label.radioImages input + .overlay {
  background-size: contain;
  background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/multi-color.jpg") no-repeat;
  display: block;
  height: 100px;
  margin: auto;
  opacity: 1;
  position: relative;
  transition: all 0.25s, transform 0.25s ease-in-out;
}

@media (min-width: 650px) {
  body label.radioImages input + .overlay,
  html label.radioImages input + .overlay {
    display: inline-block;
    height: 156px;
    width: 100%;
  }
}

body label.radioImages input[value="Single Family Home"] + .overlay,
html label.radioImages input[value="Single Family Home"] + .overlay {
  background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/primary-bw.jpg") no-repeat center;
  background-size: contain;
  background-position: center 20px;
  transition: all 0.25s, transform 0.25s ease;
}

body label.radioImages input[value="Single Family Home"]:checked + .overlay,
body label.radioImages input[value="Single Family Home"] + .overlay:hover,
html label.radioImages input[value="Single Family Home"]:checked + .overlay,
html label.radioImages input[value="Single Family Home"] + .overlay:hover {
  background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/primary-color.jpg") no-repeat center;
  background-size: contain;
  background-position: center 20px;
}

body label.radioImages input[value="Multi-Family Home"] + .overlay,
html label.radioImages input[value="Multi-Family Home"] + .overlay {
  background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/multi-bw.jpg") no-repeat center;
  background-size: contain;
  background-position: center 20px;
  transition: all 0.25s, transform 0.25s ease;
}

body label.radioImages input[value="Multi-Family Home"]:checked + .overlay,
body label.radioImages input[value="Multi-Family Home"] + .overlay:hover,
html label.radioImages input[value="Multi-Family Home"]:checked + .overlay,
html label.radioImages input[value="Multi-Family Home"] + .overlay:hover {
  background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/multi-color.jpg") no-repeat center;
  background-size: contain;
  background-position: center 20px;
}

body label.radioImages input[value=Condominium] + .overlay,
html label.radioImages input[value=Condominium] + .overlay {
  background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/condo-bw.jpg") no-repeat center;
  background-size: contain;
  background-position: center 25px;
  transition: all 0.25s, transform 0.25s ease;
}

body label.radioImages input[value=Condominium]:checked + .overlay,
body label.radioImages input[value=Condominium] + .overlay:hover,
html label.radioImages input[value=Condominium]:checked + .overlay,
html label.radioImages input[value=Condominium] + .overlay:hover {
  background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/condo-color.jpg") no-repeat center;
  background-size: contain;
  background-position: center 25px;
}

body label.radioImages input[value="Mobile Home"] + .overlay,
html label.radioImages input[value="Mobile Home"] + .overlay {
  background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/mobile-bw.jpg") no-repeat center;
  background-size: contain;
  background-position: center 25px;
  transition: all 0.25s, transform 0.25s ease;
}

body label.radioImages input[value="Mobile Home"]:checked + .overlay,
body label.radioImages input[value="Mobile Home"] + .overlay:hover,
html label.radioImages input[value="Mobile Home"]:checked + .overlay,
html label.radioImages input[value="Mobile Home"] + .overlay:hover {
  background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/mobile-color.jpg") no-repeat center;
  background-size: contain;
  background-position: center 25px;
}

body .coll,
html .coll {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  vertical-align: top;
  margin: 0;
  padding: 1%;
  overflow: hidden;
  position: relative;
}

body .coll.buttonToggle,
html .coll.buttonToggle {
  padding: 0;
}

@media (min-width: 650px) {
  body .coll.one-forth,
  html .coll.one-forth {
    width: 23%;
  }

  body .coll.one-fifth,
  html .coll.one-fifth {
    width: 18%;
  }
}

body .inner-wrapper,
html .inner-wrapper {
  margin: auto;
  max-width: 1220px;
  position: relative;
}

body .contentPage #details,
html .contentPage #details {
  background: #fff;
  padding: 1em;
  margin: 2em auto;
  -moz-border-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 5px solid #f7f7f7;
  word-wrap: break-word;
}

body .contentPage #details h3,
html .contentPage #details h3 {
  font-weight: 100;
  font-size: 3em;
  text-align: center;
  color: #24b6fe;
}

body .row,
html .row {
  width: 100%;
  margin: auto;
  padding: 0;
}

body #shell[data-type=EO] div#content,
html #shell[data-type=EO] div#content {
  display: block;
  height: auto;
  max-width: 1200px;
  margin: auto;
  padding-top: 25px;
  overflow: hidden;
}

body.animatedForm {
  background: #fff;
}

@media (min-width: 650px) {
  body [data-split-type] {
    position: absolute;
    left: -99999px;
  }
}

.cta-section {
  text-align: center;
}

.cta-section input,
.cta-section label {
  text-align: center;
}

.cta-section input,
.cta-section label {
  text-transform: initial;
  padding: 0;
  font-size: .76em;
  line-height: .99em;
  display: block;
}

.cta-section .btn.next {
  margin-top: 20px;
}

.cta-section .pagenav {
  margin: 0 auto;
}

.refi-form #content {
  margin-top: 0;
}

.refi-form .coll {
  height: auto;
}

.refi-form input[type=email],
.refi-form input[type=tel],
.refi-form input[type=text],
.refi-form select {
  border: 1px solid rgba(0, 0, 0, 0.3);
  -moz-border-radius: .2rem;
  -moz-border-top-left-radius: .2rem;
  -moz-border-top-right-radius: .2rem;
  -moz-border-bottom-left-radius: .2rem;
  -moz-border-bottom-right-radius: .2rem;
  -webkit-border-radius: .2rem;
  -webkit-border-top-left-radius: .2rem;
  -webkit-border-top-right-radius: .2rem;
  -webkit-border-bottom-left-radius: .2rem;
  -webkit-border-bottom-right-radius: .2rem;
  border-radius: .2rem;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
}

.refi-form .refi-form__slider {
  min-height: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.refi-form .refi-form__slider label.buttonToggle span {
  padding: 1rem 0 0;
}

.refi-form .refi-form__slider label.buttonToggle.one-fifth span {
  font-weight: 300;
  color: #333;
}

.refi-form .refi-form__slider label.buttonToggle input[value=Excellent]:checked + span {
  background-color: #69a059;
  font-weight: 600;
  color: #fff;
}

.refi-form .refi-form__slider label.buttonToggle input[value=Excellent] + span {
  background-color: #95bd88;
}

.refi-form .refi-form__slider label.buttonToggle input[value=Excellent] + span:hover {
  background-color: #69a059;
  color: #fff;
}

.refi-form .refi-form__slider label.buttonToggle input[value=Good]:checked + span {
  background-color: #71b956;
  font-weight: 600;
  color: #fff;
}

.refi-form .refi-form__slider label.buttonToggle input[value=Good] + span {
  background-color: #9fcf8c;
}

.refi-form .refi-form__slider label.buttonToggle input[value=Good] + span:hover {
  background-color: #71b956;
  color: #fff;
}

.refi-form .refi-form__slider label.buttonToggle input[value=Fair]:checked + span {
  background-color: #f18136;
  font-weight: 600;
  color: #fff;
}

.refi-form .refi-form__slider label.buttonToggle input[value=Fair] + span {
  background-color: #f6ae7e;
}

.refi-form .refi-form__slider label.buttonToggle input[value=Fair] + span:hover {
  background-color: #f18136;
  color: #fff;
}

.refi-form .refi-form__slider label.buttonToggle input[value=Poor]:checked + span {
  background-color: #cf4539;
  font-weight: 600;
  color: #fff;
}

.refi-form .refi-form__slider label.buttonToggle input[value=Poor] + span {
  background-color: #de7d77;
}

.refi-form .refi-form__slider label.buttonToggle input[value=Poor] + span:hover {
  background-color: #cf4539;
  color: #fff;
}

.refi-form .refi-form__slider .select {
  display: block;
}

.refi-form .refi-form__slider fieldset[data-page] {
  position: absolute;
  top: 0;
  height: auto;
  color: rgba(0, 0, 0, 0.666);
  font-family: Lato,sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  border-bottom: 0;
  text-align: center;
  padding: 0;
}

.refi-form .refi-form__slider fieldset[data-page] p {
  margin-top: 15px;
}

.refi-form .refi-form__slider .cta-section img {
  max-width: 60%;
}

.refi-form .refi-form__slider .cta-section label {
  text-align: center;
  font-size: .6em;
}

.refi-form .refi-form__slider .ready {
  transition: all 0.1s, transform 0.1s;
  left: 103% !important;
  opacity: 0;
}

.refi-form .refi-form__slider .active {
  transition: all 0.1s, transform 0.1s;
  left: 0 !important;
}


@media (min-width: 650px) {

  .refi-form .refi-form__slider label.buttonToggle,
  .refi-form .refi-form__slider label.radioImages {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }

  .refi-form .refi-form__slider label.radioImages {
    text-align: center;
  }
}

.refi-form .pagenav {
  margin: 40px auto;
}

.refi-form .section {
  width: 100%;
  margin: auto auto 0;
  padding: 25px 0;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  clear: left;
}

body.aio .refi-form {
  min-height: 0;
}

body.aio .refi-form .btn.next {
  border-radius: 2px;
  background-color: #2366cc;
}

body.aio .refi-form label.radioImages {
  max-width: 100%;
  font-weight: 900;
}

body.aio .refi-form input[type=range] {
  width: 90%;
  display: block;
}

body.aio .refi-form .refi-form__slider {
  min-height: 568px;
}

body.aio .refi-form .refi-form__slider fieldset[data-page] {
  position: relative;
  max-width: 960px;
  margin: auto;
  display: block;
}

body.aio .refi-form .refi-form__slider [data-name=ContactInfo] {
  padding: 5px;
  max-width: 600px;
  margin: auto;
}

body.aio .refi-form .refi-form__slider [data-name=ContactInfo] label {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.3rem;
  font-weight: 500;
  display: block;
  margin: 0;
  text-align: left;
}

body.aio .refi-form .refi-form__slider [data-name=ContactInfo] .select:after {
  top: .7rem;
  right: 1.2rem;
  font-size: 1.7rem;
  z-index: 6;
}

body.aio .refi-form .refi-form__slider input[type=email],
body.aio .refi-form .refi-form__slider input[type=tel],
body.aio .refi-form .refi-form__slider input[type=text],
body.aio .refi-form .refi-form__slider select {
  font-size: 16px;
  line-height: 21px;
  height: 36px;
}

div[data-type=EO] {
  background-color: #fff;
}

div[data-type=EO] * {
  vertical-align: middle;
}

div[data-type=EO] #appSteps {
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  overflow: auto;
}

div[data-type=EO] #appSubmitted {
  background-color: #e1f6d2;
  border: 1px solid #dae4d2;
  color: #005e29;
}

div[data-type=EO] #closeWarning {
  background-color: #ffd9d9;
  border: 1px solid #e9baba;
  color: #752325;
  margin-top: 7px;
  text-transform: uppercase;
}

div[data-type=EO] #closeWarning .sprite {
  background-position: 0 -28px;
}

div[data-type=EO] #appSubmitted,
div[data-type=EO] #closeWarning {
  border-radius: 4px;
  font-size: 1em;
  font-weight: bolder;
  padding: 7px 1% 7px 0;
  overflow: auto;
  text-align: center;
}

div[data-type=EO] #appSubmitted div,
div[data-type=EO] #closeWarning div {
  display: inline-block;
  float: left;
  width: 75%;
}

div[data-type=EO] #appSubmitted .sprite,
div[data-type=EO] #closeWarning .sprite {
  background-image: url('//dn3nmb5yt1ysw.cloudfront.net/files/2013/01/redirect-sprite-8-s.png');
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  height: 25px;
  margin: 0 2%;
  position: relative;
  width: 25px;
}

div[data-type=EO] #greeting {
  margin-top: 25px;
}

div[data-type=EO] #greeting > h2 {
  color: #0e76bc;
  font-size: 1.2em;
}

div[data-type=EO] #greeting > h2,
div[data-type=EO] #greeting > h4 {
  text-align: center;
}

div[data-type=EO] #notifications {
  overflow: auto;
}

div[data-type=EO] #redirectContainer {
  border-radius: 4px;
  background-color: #fff;
  border: 0;
  margin: auto;
  max-width: 720px;
  padding: 20px 3.5%;
  width: 85%;
}

div[data-type=EO] #stepOne .sprite,
div[data-type=EO] #stepThree .sprite {
  background-color: transparent;
  background-image: url("//dn3nmb5yt1ysw.cloudfront.net/files/2013/01/redirect-sprite-8-s.png");
  background-repeat: no-repeat;
  height: 113px;
  width: 113px;
}

div[data-type=EO] #stepOne .sprite {
  background-position: -25px 0;
}

div[data-type=EO] #stepTwo .sprite {
  background-image: url("//dn3nmb5yt1ysw.cloudfront.net/files/2013/01/Processing-GIF.gif");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 113px;
  width: 113px;
}

div[data-type=EO] #stepTwo h3 span {
  display: none;
}

div[data-type=EO] #stepThree .sprite {
  background-position: -139px 0;
}

div[data-type=EO] #terms {
  border-top: 1px solid #c6c6c6;
  color: #585858;
  font-size: .75em;
  overflow: auto;
  line-height: 1.7;
}

div[data-type=EO] #terms img {
  display: block;
  margin: 15px auto;
}

div[data-type=EO] #terms p {
  margin-top: 20px;
}

@media screen and (min-width: 500px) {
  div[data-type=EO] #appSubmitted,
  div[data-type=EO] #closeWarning {
    font-size: 1em;
  }
}

@media screen and (min-width: 550px) {
  div[data-type=EO] #appSubmitted,
  div[data-type=EO] #closeWarning {
    display: inline-block;
    width: 45%;
  }

  div[data-type=EO] #appSubmitted .sprite,
  div[data-type=EO] #closeWarning .sprite {
    float: left;
  }
}

@media screen and (min-width: 650px) {
  div[data-type=EO] #appSubmitted {
    float: left;
    margin-left: 3%;
    font-size: 1em;
  }

  div[data-type=EO] #appSteps * {
    color: #bebebe;
  }

  div[data-type=EO] #appSteps div {
    display: inline-block;
    width: 33%;
    vertical-align: top;
  }

  div[data-type=EO] #appSteps #stepTwo * {
    color: #000;
  }

  div[data-type=EO] #closeWarning {
    bottom: 0;
    margin-top: auto;
    margin-right: 3%;
    position: absolute;
    right: 0;
    top: 0;
  }

  div[data-type=EO] #greeting {
    clear: both;
  }

  div[data-type=EO] #greeting > h2 {
    font-size: 1.5em;
  }

  div[data-type=EO] #greeting > h4 {
    font-size: .9em;
    margin: auto;
  }

  div[data-type=EO] #notifications {
    margin: auto;
    position: relative;
  }

  div[data-type=EO] #stepOne,
  div[data-type=EO] #stepTwo h3 span,
  div[data-type=EO] #stepThree {
    display: inline;
  }

  div[data-type=EO] #stepOne,
  div[data-type=EO] #stepTwo,
  div[data-type=EO] #stepThree {
    float: left;
  }

  div[data-type=EO] #redirectContainer {
    border: 1px solid #c6c6c6;
    max-width: 800px;
    width: 92.5%;
  }

  div[data-type=EO] #terms div {
    display: inline-block;
    float: left;
    width: 21%;
  }

  div[data-type=EO] #terms div img {
    display: inline;
  }

  div[data-type=EO] #terms p {
    display: inline-block;
    float: right;
    width: 75%;
  }

  div[data-type=EO] .sprite {
    display: inline-block;
    position: relative;
  }
}
