#sidebar {
	display: block;
	margin: 0px auto;
	width: 250px;
	box-sizing: border-box;
	color: #004689;

	@include breakpoint(600) {
		display: table-cell;
	}
	section {
		text-align: center;
		padding: 20px 10px;

		ul {
			text-align: left;

			li {
				line-height: 1.25;
			}
		}
	}
	#seal {
		.logo {
			background: url(https://dn3nmb5yt1ysw.cloudfront.net/images/logos/getmyinsurance-logo-seal-s.png) no-repeat -37px -518px;
			width: 165px;
			height: 165px;
			margin: 0px auto;
		}
		ul {
			padding-left: 30px;

			li {
				margin-bottom: 10px;
				background: url(https://dn3nmb5yt1ysw.cloudfront.net/images/logos/getmyinsurance-logo-seal-s.png) no-repeat -170px -290px;
				list-style-type: none;
				padding-left: 30px !important;
			}
		}
	}
}
#side-banner {
	padding: 40px 0px;
	text-align: center;
}
#faq {
	ul {
		padding-left: 25px;

		li {
			margin-bottom: 5px;

			a {
				color: #004689;
				text-decoration: none;
			}
		}
	}
}
#seal, #side-banner, #faq {
	border-bottom: 1px solid #004689;
}
#inc500 {
	.logo {
		background: url(https://dn3nmb5yt1ysw.cloudfront.net/images/logos/getmyinsurance-logo-seal-s.png) no-repeat -127px -377px;
		width: 108px;
		height: 90px;
		margin: auto;
		float: none;
	}
	h3 {
		font-family: $share;
		font-size: 36px;
		margin: 10px auto 0px;

		+ p {
			font-size: 13px;
			margin: 0;
		}
	}
}