.test {
	border: 1px solid red;
   display: flex;
   height: 90vh;
   flex-direction: column;
   align-content: center;
   justify-content: space-between;
}

.st {
	max-height: 250px;
	margin: 0px auto;
	width: 100%;
   -webkit-align-self: flex-end;
   align-self: flex-end;
}

h1, h2 {
	align-self: flex-start;
}