.zip-callout {
	background: #e2eaec;
	display: table-row;
	width: 100%;
	color: #004689;
	box-sizing: border-box;
	@include cf();

	.table-wrap {
		width: 100%;
		height: 100%;
		display: table;
		margin: 10px auto;
		max-width: 960px;
		vertical-align: middle;
	}
	h2, .zip-submit {
		display: block;
		text-align: center;
		vertical-align: middle;

		@include breakpoint(600) {
			display: table-cell;
		}
	}
	h2 {
		padding: 0px;
	}
	.zip-submit {
		box-sizing: border-box;
		text-align: center;

		input {
			width: 120px;
			font-size: 17px;
			padding: 5px;
			margin-bottom: 10px;
		}
		button {
			@include border-radius(25px);
			-moz-box-shadow: 0 1px 2px 0 rgba(120, 120, 120, .85);
			-webkit-box-shadow: 0 1px 2px 0 rgba(120, 120, 120, .85);
			box-shadow: 0 1px 2px 0 rgba(120, 120, 120, .85);
			background-color: #91c969;
			border: 0;
			color: #fff;
			display: inline;
			font-weight: bolder;
			margin: auto;
			max-width: 230px;
			padding: 8px 10px;
			text-align: center;
			height: auto;
			text-shadow: 0 -1px 1px rgba(102, 102, 102, .85);
			white-space: normal;

			&:hover {
				background: #e35f5f
			}
		}
	}
}