// Styles.scss
@import 'susy/sass/susy';
@import 'testing';
// @import 'sprites';

$coral: #ff7f50;

.test {
	@include span(2);
	background-color: $coral;
}

// .github {
// 	@include retina-sprite($github-group);
// }

.susy-test {
	@include span(2);
}

.is-active {
	color: red;
}

.has-border {
	border: 2px solid black;
}

/* uncss:ignore */
.ignored-selector {
	color: pink;
}

.removed-selector {
	color: black;
}