@import 'scaffold';

$susy: (
  columns: 6,
  gutters: 0.25,
  column-width: 80px,
  global-box-sizing: border-box,
  // debug: (image: show-columns)
  );

$adaptive-placeholder: (
  height: 4em,
  margin: 2em,
  border: 2px,
  border-radius: 2px,
  font-size: 0.75em,
  border-color: color(cme-green),
  label-color: #999,
  active-color: color(cme-green),
  valid-color: #23a045,
  placeholder-background-color: white,
  textarea: false
  );

@include border-box-sizing;

$bp-med: span(8 static);
$med: 12;

.wrap {
  @include container;
  padding-left: 1rem;
  padding-right: 1rem;

  @include susy-breakpoint($bp-med, $med) {
    @include show-grid;
    max-width: container();
    }
  }

$base-font-size: 10px;

body {
  font-family: 'Lato', sans-serif;

}

.content {
  @include span(12 of 12);
  margin-top: 5vh;
  height: 80vh;
}

.sidebar {
  @include span(4 of 12 last);
  margin-top: 10vh;
  height: 40vh;
}

.inner-content {
  background: #fefefe;
}

h1,
h2,
h3,
p {
	@include fw(normal);
	text-align: center;
}

h1,
h2,
h3,
h4,
h5
 {
	color: color(cme-green);
}

h4,
h5 {
    text-transform: uppercase;
    letter-spacing: 1px
}


input {
    @include adaptive-placeholder();
    &::placeholder {
    	font-weight: 600;
    }
}

.form-wrap {
  border: 1px solid red;
  // width: 100%;
  // margin: 0px auto;
  form {
    p {
    font-size: 0.625em;
    color: color(pebble);
    }
  }
}
