$cdn: "//dn3nmb5yt1ysw.cloudfront.net";
$images-path: "#{$cdn}/images/common";
$retina-suffix: "-r";
$primary-font-color: #555 !default;

$accent: #3cb2b3 !default;
$submit: #2366cc;
$faded-grey: rgba(102, 102, 102, 0.666);
$muted-red: #d65b59;
