$max-width: 40rem;
$error: rgb(214, 91, 89);
$error-bg: rgb(255, 247, 247);

@include container($street-address-input, column, column) {
  @extend %inputLabel;
}

@include container($zip-code-input, column, column) {
  @extend %inputLabel;
}

@include container($city-input, column, column) {
  @extend %inputLabel;
}

@include container($state-select, column, column) {
  @extend %inputLabel;
}

@include container($first-name-input, column, column) {
  @extend %inputLabel;
}

@include container($last-name-input, column, column) {
  @extend %inputLabel;
}

@include container($email-input, column, column) {
  @extend %inputLabel;
}

@include container($phone-input, column, column) {
  @extend %inputLabel;
}

.control-group.error {
  color: $error;
}

div.input {
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=tel] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    line-height: 2;
    font-size: 1.25rem;
    @include convertRem(height, 36px);
    @include border-radius(.2px);
    .control-group.error & {
      border-color: $error;
      background-color: $error-bg;
    }
  }
}
div.select {
  select {
    font-size: 1.25rem;
    line-height: 2;
    border: 1px solid rgba(0, 0, 0, 0.3);
    @include border-radius(.2px);
    @include convertRem(height, 36px);

    .control-group.error & {
      border-color: $error;
      background-color: $error-bg;
    }
  }

  &:after {
    position: absolute;
    content: "\f3d0";
    font-family: ionicons;
    color: rgba(128, 128, 128, 0.666);
    height: 20px;
    width: 20px;
    top: 12px;
    right: 25px;
    font-size: 1.5em;
    z-index: 0;
  }
}
