#LeadRequestHomeRefinanceProperties0PropertyType {
  justify-content: space-between;
  flex-wrap: wrap;
  label.radio-label {
    flex: 1 0 calc(50% - 5rem);
    margin: .25rem 1rem;
    padding: 0;
    @include breakpoint(768) {
      margin: 1rem;
      flex: 1 1 100px;
    }
    &:hover .radio-image, input:checked + .radio-image {
      background-size: contain;
    }
  }

  .overlay {
    order: -1;
    font-weight: 600;
    font-size: 1.15rem;
    margin-bottom: 1rem;
  }

  div.radio-image {
    min-height: 100px;
    background-size: contain;
    @include transition(all .25s);
    @include breakpoint(768) {
      min-height: 150px;
    }
  }
}

#SingleFamilyHome {
  .radio-image {
    background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/primary-bw.jpg") no-repeat center;
  }

  &:hover .radio-image, input:checked + .radio-image {
  background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/primary-color.jpg") no-repeat center;
  }
}

#MultiFamilyHome {
  .radio-image {
    background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/multi-bw.jpg") no-repeat center;
  }

  &:hover .radio-image, input:checked + .radio-image {
    background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/multi-color.jpg") no-repeat center;
  }
}

#Condominium {
  .radio-image {
    background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/condo-bw.jpg") no-repeat center;
  }

  &:hover .radio-image, input:checked + .radio-image {
    background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/condo-color.jpg") no-repeat center;
  }
}

#MobileHome {
  .radio-image {
    background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/mobile-bw.jpg") no-repeat center;
  }

  &:hover .radio-image, input:checked + .radio-image {
    background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/mobile-color.jpg") no-repeat center;
  }
}
