label.radio-label {
  margin: 1rem;
  display: flex;
  cursor: pointer;
  color: #111;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;

  @include transition(all 300ms);

  @include breakpoint(768) {
    font-size: 1.5rem;
  }
  input[type=radio] {
    display: none;
  }
}

#Refinance, #NewPurchase {
  -webkit-flex: 1;
  flex: 1 1 0px;
  border: 2px solid $accent;
  background-color: #fff;
  background-clip: border-box;

  @include border-radius(5px);

  @include breakpoint(768) {}


  .overlay {
    order: -1;
    display: block;
    background-color: transparent;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem;
    z-index: 1;

    @include breakpoint(768) {
      font-size: 1.75rem;
    }
  }

  .radio-image {
    width: 100%;
    flex: 1 1 75px;
    height: auto;
    display: block;
    border-bottom: 1rem solid transparent;

    @include breakpoint(768) {
      flex: 1 1 150px;
    }
  }
}

#Refinance {
  .radio-image {
    background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/house-icon-refi-dark.png") no-repeat center;
    background-size: contain;
  }

  &:hover .radio-image, input:checked + .radio-image {
    background: $accent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/house-icon-refi-white.png") no-repeat center;
    background-size: contain;
    border-color: $accent;
    box-shadow: 0 14px 21px -7px rgba(0, 0, 0, 0.3);

    @include transition(box-shadow 200ms);
  }

  &:hover .overlay, input:checked ~ .overlay {
    color: #fff;
    background-color: $accent;

    @include transition(color 200ms);
  }
}

#NewPurchase {
  .radio-image {
    background: transparent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/house-icon-forsale-dark.png") no-repeat center;
    background-size: contain;
  }

  &:hover .radio-image, input:checked + .radio-image {
    background: $accent url("//dn3nmb5yt1ysw.cloudfront.net/images/common/house-icon-forsale-white.png") no-repeat center;
    background-size: contain;
    border-color: $accent;
    box-shadow: 0 14px 21px -7px rgba(0, 0, 0, 0.3);

    @include transition(box-shadow 200ms);
  }

  &:hover .overlay, input:checked ~ .overlay {
    color: #fff;
    background-color: $accent;

    @include transition(color 200ms);
  }
}
