label.radioImages {
  cursor: pointer;
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: #444;
  display: initial;

  @include breakpoint (780) {
    font-size: 1.5rem
  }
  input {
    display: none;

    &:checked + .overlay, +.overlay:hover {
      box-shadow: 0 14px 21px -7px rgba(0, 0, 0, .3);
      color: #FFFFFF;
    }
    & + .overlay {
      border: 2px solid $accent;
      color: #444444;
      height: 8rem;
      line-height: 2em;
      margin: .5em auto;
      opacity: 1;
      width: 100%;
      max-width: 40rem;
      @include transition(all 300ms);
      @include border-radius(5px);
      @include breakpoint (780) {
        height: 15rem;
      }
    }
    &#Refinance {
      +.overlay {
        @include radioImage('house-icon-refi-dark', 100px);
        background-position: center 2.25rem;

        @include breakpoint (780) {
          @include background-size(82.5%);
        }
      }
      &:checked +.overlay, +.overlay:hover {
        @include radioImage('house-icon-refi-white', 100px);
        background-position: center 2.25em;
        background-color: $accent;

        @include breakpoint (780) {
          @include background-size(82.5%);
        }
      }
    }
    &#NewMortgage {
      +.overlay {
        @include radioImage('house-icon-forsale-dark', 100px);
        background-position: center 2.25em;

        @include breakpoint (780) {
          @include background-size(82.5%);
        }
      }
      &:checked +.overlay, +.overlay:hover {
        @include radioImage('house-icon-forsale-white', 100px);
        background-position: center 2.25em;
        background-color: $accent;

        @include breakpoint (780) {
          @include background-size(82.5%);
        }
      }
    }
  }
}
