$footer-text: #777777;

footer {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  font-size: .865rem;
  padding: 1rem;
  font-weight: 300;
  color: $footer-text;
  @include breakpoint(768) {
    font-size: .75rem;
  }
}

.disclaimer {
  padding-top: .5rem;
}

nav, .main-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 2;
  padding: 0;

  @include breakpoint(768) {
    flex-direction: row;
    justify-content: space-between;
  }
}


ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    margin: 0px 10px;
    text-align: right;

    a {
      text-decoration: none;
      font-weight: 400;
      color: inherit;
      @include transition(all 3s);

      &:hover {
        color: darken($footer-text, 25%);
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

