.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 100%;
  padding: 0;
  @include breakpoint(780) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem auto;
    max-width: 50rem;
  }
}

.double > div {
  width: 100%;
  justify-content: center;
  @include breakpoint(780) {
    > .overlay {
      height: 100%;
    }
    padding: 1rem;
    height: 15rem;
  }
}
