*,
*:after,
*:before {
  @include box-sizing(border-box);
}

html {
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  line-height: 1.35;
  text-rendering: optimizeLegibility;

  @include breakpoint(768) {
    font-size: 16px;
  }
}

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */
.site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.site-header,
.site-footer {
  flex: none; /* 2 */
}

.site-content {
  flex: 1 0 auto; /* 2 */
  padding: 1rem 1rem 0;
  width: 100%;
  margin: 0px auto;
  max-width: 1200px;
}

.site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: 1rem;
  height: 0px;
  visibility: hidden;
}

@include breakpoint(768) {
  .site-content {
    padding-top: 4rem;
  }

  .site-content::after {
    margin-top: 3rem;
  }
}


.site-content--full {
  padding: 0;
}

.site-content--full::after {
  content: none;
}

// $loan-type-wrapper: 'LeadLeadInfoDemographics0Value';

// @mixin container($id, $direction) {
//   ##{$id} {
//     @extend %flex;
//     flex-direction: $direction;
//   }
//   }

// %flex {
//   display: flex;
//   flex-direction: column;
//   margin: 3rem auto;
//   max-width: 60rem;

// }

$loan-type-wrapper: "LeadLeadInfoDemographics0Value";
$property-type-wrapper: "LeadRequestHomeRefinanceProperties0PropertyType";
$credit-rating-wrapper: "LeadApplicantInfoCreditSelfRating";
$property-value-wrapper: "LeadRequestHomeRefinanceProperties0PropertyValue";
$remaining-balance-wrapper: "LeadRequestHomeRefinanceExistingMortgages0RemainingBalance";
$interest-rate-wrapper: "LeadRequestHomeRefinanceExistingMortgages0InterestRate";
$street-address-input: "LeadContactInfoAddress";
$zip-code-input: "LeadContactInfoZipCode";
$city-input: "LeadContactInfoCity";
$state-select: "LeadContactInfoState";
$first-name-input: "LeadContactInfoFirstName";
$last-name-input: "LeadContactInfoLastName";
$email-input: "LeadContactInfoEmail";
$phone-input: "LeadContactInfoPhone";



$max-width: 60rem !default;

%flex {
  display: flex;
  margin: .25rem auto 1rem;
}

%inputLabel {
  text-align: left;
  text-transform: uppercase;
  label {
    margin-bottom: .25rem;
  }
}

@mixin container($id, $mobile-direction, $desktop-direction) {
  ##{$id} {
    @extend %flex;
    max-width: $max-width;
    flex-direction: $mobile-direction;

    @include breakpoint(768) {
      flex-direction: $desktop-direction;
      justify-content: space-around;
    }

    @content;
  }
}

@include container($loan-type-wrapper, column, row) {
  .form-prompt {
  font-size: 20rem;
  }
};

@include container($property-type-wrapper, row, row) {
  flex-wrap: wrap;
};

@include container($credit-rating-wrapper, column, row);

@include container($property-value-wrapper, column, column);

@include container($remaining-balance-wrapper, column, column);

@include container($interest-rate-wrapper, column, column);

@include container($interest-rate-wrapper, column, column);
