// Margo Defaults

// Brand Colors
$primary-green: rgb(2,184,117);
$secondary-blue: rgb(34, 73, 82);
$tertiary-blue: rgb(38,105,144);

// Accents & Tints
$accent-dark: rgb(23,50,56);
$accent-blue: rgb(26,196,235);
$accent-green: rgb(2,197,125);

// Error Colors
$error: rgb(200,57,52);
$error-light: rgb(249,235,234);

// Greys
$grey-light: rgb(250,250,250);
$grey-medium-light: rgb(224,224,224);
$grey-medium: rgb(186,186,186);
$grey-medium-dark: rgb(122,122,122);
$grey-dark: rgb(59,59,59);

// Grays
$gray-light: $grey-light;
$gray-medium-light: $grey-medium-light;
$gray-medium: $grey-medium;
$gray-medium-dark: $grey-medium-dark;
$gray-dark: $grey-dark;

// Fonts
$adobe-font: 'acumin-pro', sans-serif;
